*{
    margin: 0;
    padding: 0;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

#name{
    font-size: 45px;
    font-weight: 800;
}
.color{
  
    color: #FD6E0A;
} 

header{ 
    background-color: #FFF8F3; 
    background: url(../images/developer.png), url(../images/header_bg.png); 
    background-position: 24px 38px, right bottom;
    background-repeat: no-repeat;
    /* 38px 71px 25px 24px */
}

nav{
     display: flex;
    justify-content: space-between;
    width: 71%;
    max-width: 1140px;
    padding-top: 50px;
    margin: 0px auto;
    align-items: center;
}

#more{
    display: flex;
    list-style: none;
    gap: 51px;
    color: 474747;
    font-size: 20px;
     align-items: center; 
}

.banner{
    display: flex;
    margin:  46px 37px 0 230px;
    align-items: center;
    justify-content: space-between;
}

.banner-image img{
    width: 584px;
    vertical-align: middle;
}

.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #474747;
}

.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}

.banner-content p{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}


/* shared section */
.btn{
    background-color: #FD6E0A;
    padding: 18px 35px;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
    cursor: pointer;
}

.call-btn{
    padding: 18px 35px;
    border: 1px #FD6E0A solid;
    border-radius: 5px;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFF8F3; 
    cursor: pointer;
}

.about-me{
    margin: 130px 230px ;
    width: 1140px;
    background-color: hsl(25, 100%, 98%);
    border-radius: 10px;
    border: 1px hsl(25, 100%, 98%) solid;
   
}

.details{
    width: 827px;
    padding: 113px 157px;
    justify-content: center;
    text-align: center;
}

.details h3{
    font-size: 35px;
    font-weight: bold;
   margin-bottom: 30px;
   color: #181818;
}

.details p{
    font-size: 18px;
    margin-bottom: 30px;
    color:#757575 ;
     
}

.information p{
    font-size: 18px;
    margin-bottom: 1px;
    color:#757575 ;
     
}


.information {
    display: flex;
    width: 782px;
    justify-content: space-between;
}

.information h4{
    color: black;
    font-size: 20px;
    font-weight: bold;
   
}

.skill-container{
    width: 71%;
    margin: 0 auto;
}

.skill-container h3{
     font-size: 35px;
    font-weight: bold;
   margin-bottom: 30px;
   color: #181818;
   text-align: center;

}

.skill-container  p{
    font-size: 18px;
    margin:0 157px 50px;
    color:#757575 ;
     
}

.skill-name{
    width: 267px;
    border-radius:5px ;
    box-shadow: 0 6px 50px rgb(211, 206, 206);
    padding: 30px;
    
}

.skill-name img{
   
    margin-bottom: 30px;
}

.skill-name h4{
      color: black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    
}
.skill-name p {
    font-size: 16px;
    margin: 0;
    color:#6e6464 ;
}

.skills {
   display: flex;
   gap: 24px;
}

.resume{
    width: 71%;
    margin: 0 auto;
   
}

.resume h3{
     font-size: 35px;
    font-weight: bold;
   margin:130px auto 113px ;
   color: #181818;
   text-align: center;
}

.second-content {
     display: flex;
     justify-content: space-between;
}

.education, .experience{
    width: 48%;
}

.education h2, .experience h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.education h5, .experience h5{
    font-size: 25px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 10px;
}

.education h6, .experience h6{
      font-size: 20px;
    font-weight: 600;
    color: #6e6464;
    margin-bottom: 20px;
}

.education p, .experience p{
     font-size: 16px;
    color: #6e6464;
    margin-bottom: 30px;
}

.education hr, .experience hr{
    max-width:558px ;
    margin-bottom: 30px;
    color: #a79f9f;
}

.download-button{
    width: 71%;
   margin: 50px auto 130px;
   text-align: center;
}

.download-button .btn{
    margin: 0 auto;
    text-align: center;
}

footer{
   background-color: #FFF8F3; 
}

.lets-conection{
    width: 71%;
    padding: 130px 230px 130px 230px;
    display: flex;
    justify-content: space-between;
}

.first-way{
    max-width: 562px;
}

.second-way{
    max-width:461px ;
}

.first-way h3, .second-way h3{
   font-size: 35px;
   font-weight: bold;
   color: #181818;
   text-align:left;
   margin-bottom: 28px;
}

.first-way p{
     font-size: 16px;
    color: #6e6464;
    margin-bottom: 30px;
    line-height: 28px;
}

.first-way div img{
    margin-right: 24px;
}

.second-way input{
     height: 64px;
      width: 461px;
     margin-bottom: 24px;
     border: #ffffff;
     border-radius: 5px;
     padding-left: 30px;

}

.second-way textarea{
     height: 180px;
     width: 461px;
     margin-bottom: 24px;
     border: #ffffff;
     border-radius: 5px;
     padding-left: 30px;
     padding-top: 18px;

}